<h1>Scan Barcode</h1>
<div class="elevated-container mat-elevation-z8">
    <input id="barcodeInput" type="file" (change)="decodeImage($event)" capture #barcodeInput/>
    
    <mat-accordion class='prevent-click button-accordion'>
        <mat-expansion-panel #searchPanel hideToggle>
            <mat-expansion-panel-header>
                <div id="buttonMenu">
                    <button mat-raised-button class="authorize-click" color="primary" (click)="barcodeInput.click(); searchPanel.toggle()"><mat-icon>camera_alt</mat-icon>Scan Barcode</button>
                    <button mat-raised-button class="authorize-click" color="primary"><mat-icon>search</mat-icon>Search</button>
                </div>
            </mat-expansion-panel-header>
            <mat-form-field class="authorize-click">
                <mat-label>Enter Search Criteria</mat-label>
                <span matPrefix>
                    <mat-icon>search</mat-icon>
                </span>
                <input matInput type="text" name="search" [(ngModel)]="searchCriteria" (keyup)="onSearchKeyUp()" (keydown.enter)="onSearchKeyUp()">
            </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>

    <div class='books-collection' *ngIf="foundBooks">
        <mat-card class="card-book" *ngFor="let b of foundBooks; let i = index" (click)="openAddBookDialog(i, b)">
            <p class='book-info book-isbn'><strong>ISBN:</strong> {{ b.isbn ? b.isbn : '?' }}</p>
            <p class='book-info book-title'><strong>Title:</strong> {{ b.title ? b.title : '?' }}</p>
            <p class='book-info book-author'><strong>Author:</strong> {{ b.author ? b.author : '?' }}</p>
            <p class='book-info book-pages'>{{ b.pages ? b.pages : '?' }} Pages</p>
            <img class='book-cover' [src]="b.image ? b.image : '../../../assets/icons/book_black.svg'" alt="Book Cover Image">
            <button class='book-button book-full-button' mat-raised-button color="accent">
                <mat-icon>add_circle</mat-icon>Add Book
            </button>
        </mat-card>
    </div>
</div>
<div class="loading-shade" *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>