<h1>Scan Barcode</h1>
<div class="elevated-container mat-elevation-z8">
    <div class="loading-shade" *ngIf="loading">
        <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <mat-card>
        <input id="barcodeInput" type="file" (change)="decodeImage($event)" capture #barcodeInput/>
        <div id="buttonMenu">
            <button mat-raised-button color="primary" (click)="barcodeInput.click()"><mat-icon>camera_alt</mat-icon>Scan Barcode</button>
            <button mat-raised-button color="primary"><mat-icon>search</mat-icon>Search</button>
        </div>
        <p>Or search below</p>
        <form>
            <mat-form-field class="example-full-width">
                <mat-label>Enter Search Criteria</mat-label>
                <span matPrefix>
                    <mat-icon>search</mat-icon>
                </span>
                <input matInput type="text" name="search" [(ngModel)]="searchCriteria" (keyup)="onSearchKeyUp()" (keydown.enter)="onSearchKeyUp()">
            </mat-form-field>
        </form>
    </mat-card>
    <div *ngIf="foundBooks">
        <mat-card class="card-book" (click)="addBook(i, 'OWNED', 'PLAN_TO_READ')" *ngFor="let b of foundBooks; let i = index">
            <p><b>ISBN:</b> {{ b.isbn }}</p>
            <p><b>Title:</b> {{ b.title }}</p>
            <p><b>Author:</b> {{ b.author }}</p>
            <p>{{ b.pages }} Pages</p>
            <img [src]="b.image ? b.image : '../../../assets/icons/book_black.svg'" alt="Book Cover Image">
            <button mat-raised-button color="accent"><mat-icon>add_circle</mat-icon>Add Book</button>
        </mat-card>
    </div>
</div>