<h1 mat-dialog-title>Add <em>{{ book.title }}</em> ?</h1>
<div mat-dialog-content>
    <img class='book-cover' [src]="book.image ? book.image : '../../../assets/icons/book_black.svg'" alt="Book Cover Image">
    <p>Are you sure you want to add this book?</p>
    <div>
        <form [formGroup]="addForm">
            <div class='dialog-selects'>
                <mat-form-field>
                    <mat-select [value]="locationStatuses[0]" formControlName="location" placeholder="Set current location status.">
                        <mat-option *ngFor="let status of locationStatuses" [value]="status">
                        {{ status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [value]="progressStatuses[0]" formControlName="progress" placeholder="Set current progress status.">
                        <mat-option *ngFor="let status of progressStatuses" [value]="status">
                        {{ status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field class='dialog-input' appearance="fill">
                <mat-label>Optional Comment</mat-label>
                <textarea formControlName="comment" matInput></textarea>
            </mat-form-field>
        </form>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="accent" [disabled]="!addForm.valid" (click)="onAdditionClick(addForm)">Add Book</button>
    <button mat-flat-button (click)="onCancelClick()">Cancel</button>
</div>