<h1 mat-dialog-title>Edit <em>{{ userBook.book.title }}</em> ?</h1>
<div mat-dialog-content>
    <img class='book-cover' [src]="userBook.book.image ? userBook.book.image : '../../../assets/icons/book_black.svg'" alt="Book Cover Image">
    <div>
        <form [formGroup]="editForm">
            <div class='dialog-selects'>
                <mat-form-field>
                    <mat-select [value]="locationStatuses[0]" formControlName="location" placeholder="Set current location status.">
                        <mat-option *ngFor="let status of locationStatuses" [value]="status">
                        {{ status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [value]="progressStatuses[0]" formControlName="progress" placeholder="Set current progress status.">
                        <mat-option *ngFor="let status of progressStatuses" [value]="status">
                        {{ status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field class='dialog-input'>
                <input matInput type="text" placeholder="Optional Comment" formControlName="comment">
            </mat-form-field>
        </form>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="accent" [disabled]="!selectForm.valid" (click)="onEditClick(editForm)">Save Changes</button>
    <button mat-flat-button (click)="onCancelClick()">Cancel</button>
</div>