html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.container > * {
    width: 100%;
}

button {
    height: 40px;
    text-transform: uppercase;

    mat-icon {
        margin-right: 4px;
    }
}

h1 {
    text-align: center;
}

// Loading overlay that darkens the page and centers the spinner.
.loading-shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
}

.elevated-container {
    position: relative;
    padding: 5px;
}

// Customized anchored links that don't turn purple.
.anchored {
    color: blue;
    text-decoration: underline;
}

.anchored:hover {
    color: rgb(2, 2, 201);
    cursor: pointer;
}

// Allow and prevent clicks on elements, overwriting other behaviour.
.prevent-click{
    pointer-events: none;
}

.authorize-click{
    pointer-events: auto;
}

// Custom accordion that is operated with buttons in the panel-header instead.
.button-accordion {
    .mat-expansion-panel-body {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
    }
    
    .mat-content {
        padding-top: 1vh;
        justify-content: center;
    }
}

// Custom card for displaying books.
.books-collection {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;

    .card-book {
        width: 22.5vw;
        margin-left: 2vw;
        margin-bottom: 2.5vh;
        display: grid !important;
        grid-template-columns: 40% 60%;
        grid-template-rows: repeat(3, 25%) 10% 1fr;
    
        .book-info {
            grid-column: 2;
            margin: 0;
            overflow-y: auto;
        }
    
        .book-cover {
            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: -2;
            height: 90%;
            width: 90%;
            justify-self: left;
            align-self: center;
        }

        .book-button {
            grid-row: 6;
            align-self: center;
        }
    
        .book-full-button {
            grid-column-start: 1;
            grid-column-end: -1;
        }
    
        .book-left-button {
            grid-column: 1;
        }
    
        .book-right-button {
            grid-column: 2;
            width: 90%;
            justify-self: right;
        }
    }
    
    .card-book:nth-child(3n + 1) {
        margin-left: 0;
    }
}
