/*
* Custom collection of cards for displaying books.
*/

.books-collection {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;

    .card-book {
        margin-left: 2vw;
        margin-bottom: 2.5vh;
        display: grid !important;
        grid-template-columns: 40% 60%;
        grid-template-rows: 10% repeat(2, 30%) 10% 1fr;
    
        .book-info {
            grid-column: 2;
            margin: 0;
            overflow-y: auto;
        }
    
        .book-cover {
            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: -2;
            height: 90%;
            width: 90%;
            justify-self: left;
            align-self: center;
        }

        .book-button {
            grid-row: 6;
            align-self: center;
        }
    
        .book-full-button {
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }
    
    .card-book:nth-child(3n + 1) {
        margin-left: 0;
    }
}

// Desktop specific
@media only screen and (min-width: 768px) {
    .books-collection {
        .card-book {
            width: 22.5vw;
        }
    
        .book-left-button {
            grid-column: 1;
        }
    
        .book-right-button {
            grid-column: 2;
            width: 90%;
            justify-self: right;
        }
    }
}

// Mobile specific
@media only screen and (max-width: 768px) {
    .books-collection {
        flex-direction: column;

        .card-book {
            margin-left: 0;
            display: flex !important;
            flex-direction: column;
            justify-content: center;

            .book-cover {
                height: 10em;
                width: auto;
            }

            .book-button {
                margin-top: 10px;
            }
        }

        .card-book > * {
            width: 100%;
        }
    }
}